.invalid-field
{
    background-color: #FCA8A8;
}

.error-message
{
    background-color: #FCA8A8;
    border: 1px solid #CC0000;
    font-weight: bold;
    color: #CC0000;
    padding: 3px;
    width: auto;
}

.confirmation-message
{
    background-color: #C9FFCA;
    border: 1px solid #008000;
    font-weight: bold;
    color: #008000;
    padding: 3px;
    width: auto;
}