body{
	background:url(../images/body_bg.gif);
	padding:0;
	margin:0;
	}
	
.general_content{
	width:1024px;
	height:auto;
	margin:0 auto;
	background:url(../images/gen_bg.png) repeat-y;
	}

.spacer{
	clear:both;
	height:0;
	}

.sliderbox{
	width:1000px;
	height:150px;
	background-color:#09F;
	margin:0 auto 11px auto;
	}

.slider{
	width:650px;
	height:150px;
	float:left;
	background-color:#999;
	padding:0;
	position:relative;
	bottom:2px;
	}
	
/*  STYLES COLONNE GAUCHE  */

.leftcolumn{
	width:201px;
	height:auto;
	margin-left:11px;
	float:left;
	}

.hdbox{
	width:201px;
	height:32px;
	margin-left:11px;
	background:url(../images/headbox_bg.png) no-repeat;
	margin-bottom:8px;
	}
	
.hdbox p.hdboxfilm {
	display:block;
	width:185px;
	height:27px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	color:#009bff;
	text-transform:uppercase;
	margin:0 0 0 10px;
	padding-top:5px;
	background:url(../images/hdbox_films_pics.png) no-repeat;
	background-position:center left;
	text-align:center;
	}
	
.hdbox p.hdboxgames {
	display:block;
	width:185px;
	height:27px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	color:#ff7e00;
	text-transform:uppercase;
	margin:0 0 0 10px;
	padding-top:5px;
	background:url(../images/hdbox_games_pics.png) no-repeat;
	background-position:center left;
	text-align:center;
	}

.category{
	width:199px;
	height:auto;
	margin:0 0 11px 11px;
	border-left:solid 1px #CCC;
	border-right:solid 1px #CCC;
	border-top:solid 1px #CCC;
	}

.category p{
	display:block;
	width:199px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	}

.category p a{
	width:199px;
	height:10px;
	display:block;
	color:#666;
	text-decoration:none;
	padding:4px 0 6px 0;
	border-bottom:solid 1px #CCC;
	text-indent:30px;
	background:url(../images/orange_bullet2.png) no-repeat;
	background-position:center left;
	}

.category p a:hover{
	width:199px;
	height:10px;
	font-weight:bold;
	display:block;
	color:#09F;
	padding:4px 0 6px 0;
	background:url(../images/categorybg_hover.png) repeat-x;
	text-indent:30px;
	}

/*  FIN STYLES COLONNE GAUCHE  */

/*  STYLES COLONNE CENTRALE  */

.centercolumn{
	width:552px;
	margin:0 0 11px 11px;
	float:left;
	}

.detailsbox{
	width:552px;
	border:1px solid #CCC;
	margin:0 0 7px 11px;
	height:auto;
	background-color:#f1f1f1;
	}

.detailsboxleft{
	width:382px;
	height:auto;
	float:left;
	background-color:#FFF;
	border-radius:0 0 8px 0;
	}

.headtitlebox{
	width:382px;
	height:30px;
	background:url(../images/film_title_headbox.png) repeat-x;
	}

p.headtitle{
	display:block;
	width:382px;
	height:40px;
	margin:0;
	background-position:center left;
	float:left;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#cc0100;
	text-transform:uppercase;
	text-indent:40px;
	padding:3px 0 0 0;
	}

p.headtitle a.filmtitle{
	display:block;
	width:380px;
	height:19px;
	margin:0;
	padding-top:3px;
	background:url(../images/film_title_hdpics.png) no-repeat;
	background-position:center left;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	font-weight:bold;
	color:#cc0100;
	text-transform:uppercase;
	text-indent:40px;
	text-decoration:none;
	}

p.headtitle a.gametitle{
	display:block;
	width:300px;
	height:19px;
	margin:0;
	padding-top:3px;
	background:url(../images/game_title_hdpics.png) no-repeat;
	background-position:center left;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#cc0100;
	text-transform:uppercase;
	text-indent:40px;
	text-decoration:none;
	}
	
p.headtitle a.softwarename{
	display:block;
	width:300px;
	height:19px;
	margin:0;
	padding-top:3px;
	background:url(../images/software_title_hdpics.png) no-repeat;
	background-position:center left;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color:#cc0100;
	text-transform:uppercase;
	text-indent:40px;
	text-decoration:none;
	}

p.headtitle a.filmtitle:hover, p.headtitle a.softwarename:hover, p.headtitle a.gametitle:hover{
	color:#333;
	}

p.cover{
	display:block;
	margin:18px;
	width:98px;
	height:144px;
	float:left;
	}

p.infos{
	float:left;
	width:230px;
	height:144px;
	overflow:scroll;
	margin:18px 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:justify;
	color:#333;
	}

p.acteurs{
	float:left;
	width:364px;
	height:auto;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	text-align:justify;
	text-indent:20px;
	color:#03F;
	padding:5px;
	}

p.labacteurs, p.minconfig{
	float:left;
	width:364px;
	height:auto;
	overflow:auto;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10px;
	text-indent:25px;
	text-decoration:underline;
	color:#999;
	padding:0;
	margin:0px;
	}

.detailboxright{
	width:147px;
	height:270px;
	overflow:hidden;
	float:left;
	padding:10px 10px 13px 10px;
	}

.infobox p{
	display:block;
	width:147px;
	height:8px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	font-style:italic;
	color:#000;
	margin:0;
	padding:3px
	}

p.valuecategorie, p.valueref, p.valuerealisateur, p.valuesortie, p.valueduration, p.valueplatform, p.valuegenre, p.valueediteur{
	display:block;
	width:137px;
	font-family:Tahoma, Geneva, sans-serif;
	font-style:normal;
	font-size:11px;
	color:#cc0001;
	border-bottom:dotted 1px #999;
	margin-bottom:3px;
	padding-bottom:7px;
	}
	
.support{
	width:73px;
	height:29px;
	background:url(../images/support.png) no-repeat;
	padding-top:20px;
	margin:10px 0 0 73px;
	}
	
img.supdvd{
	width:73px;
	height:29px;
}

a.linkdetails{
	display:block;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#333;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:none;
	text-indent:15px;
	width:170px;
	height:16px;
	background:url(../images/bluebullet.png) no-repeat;
	background-position:center left;
	margin:0 0 10px 400px;
	padding-right:10px;
	}
	
a.linkdetails:hover{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#cc0100;
	text-transform:uppercase;
	font-weight:bold;
	text-decoration:underline;
	text-indent:15px;
	width:170px;
	height:16px;
	background:url(../images/redbullet.png) no-repeat;
	background-position:center left;
	margin:0 0 10px 400px;
	padding-right:10px;
	}

/*  FIN STYLES COLONNE CENTRALE  */


.rightcolumn{
	width:179px;
	height:auto;
	margin:0 0 11px 11px;
	float:left;
	}

.hdboxnews p{
	float:left;
}

.hdbox p.hdboxnews {
	display:block;
	width:185px;
	height:27px;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:16px;
	color:#fff;
	text-transform:uppercase;
	margin:0 0 0 10px;
	padding-top:5px;
	background-position:center left;
	text-align:center;
	}

.newsbox{
	width:179px;
	height:auto;
	padding:0 10px 10px 10px;
	float:left;
	border:solid 1px #CCC;
	margin-top:4px;
	}
	
p.newstitle a{
	display:block;
	width:179px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	color:#F00;
	margin:0 0 5px 0;
	text-decoration:none;
	}
	
p.newstitle a:hover{
	text-decoration:underline;
	}
	
p.newsdate{
	display:block;
	width:179px;
	height:10px;
	height:auto;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:right;
	color:#999;
	margin:0 0 7px 0;
	}

p.newshortdetail{
	display:block;
	width:179px;
	height:10px;
	height:75px;
	overflow:hidden;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:left;
	color:#666;
	margin:0;
	padding-bottom:11px;
	}

/* PAGINATION */
.wrap-pagination {
    width:301px;
	height:21px;
	margin:65px auto;
	padding:0;
}

.wrap-pagination a
{
	margin: 10px auto 0 auto;
	text-align: center;
	background-color: #0066FF;
	display: compact;
	padding: 3px 7px 3px;
	color: #FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	font-weight: bold;
	line-height: 2;
    display: inline;
	
    border-radius:3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
}

.wrap-pagination .inactive_anchor {
    background-color: #555555;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
   	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	font-weight: bold;
    line-height: 2;
    margin: 10px auto 0;
    padding: 3px 7px 3px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

/* END OF PAGINATION */
	
.pages{
	width:301px;
	height:21px;
	margin:65px auto;
	padding:0;
	}

.pages p{
	float:left;
	}

.pages a{
	display:block;
	float:left;
	text-align:center;
	}

a.firstpage{
	width:21px;
	height:21px;
	margin:0 7px 0 0;
	padding:0;
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;*/
	background:url(../images/firstpagebt.png) no-repeat;
	}

a.firstpage:hover{
	background:url(../images/firstpagebt_hover.png) no-repeat;
	}

a.previouspage{
	width:21px;
	height:21px;
	margin:0 7px 0 0;
	padding:0;
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;*/
	background:url(../images/previouspagebt.png) no-repeat;
	}


a.previouspage:hover{
	background:url(../images/previouspagebt_hover.png) no-repeat;
	}

a.activepage{
	width:21px;
	height:18px;
	margin:0 7px 0 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	background-color:#009bff;
	padding-top:3px;
	color:#FFF;
	}
	
a.pagenumber{
	width:19px;
	height:17px;
	margin:0 7px 0 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	background-color:#FFF;
	border-radius:3px;
	padding-top:2px;
	color:#999;
	border:solid 1px #CCC;
	}
	
a.pagenumber:hover{
	width:19px;
	height:17px;
	margin:0 7px 0 0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;
	text-decoration:none;
	background-color:#FFF;
	border-radius:3px;
	padding-top:2px;
	color:#009bff;
	border:solid 1px #009bff;
	}

a.nextpage{
	width:21px;
	height:21px;
	margin:0 7px 0 0;
	padding:0;
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;*/
	background:url(../images/nextpagebt.png) no-repeat;
	}


a.nextpage:hover{
	background:url(../images/nextpagebt_hover.png) no-repeat;
	}

a.lastpage{
	width:21px;
	height:21px;
	margin:0;
	padding:0;
	/*font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-align:center;*/
	background:url(../images/lastpagebt.png) no-repeat;
	}


a.lastpage:hover{
	background:url(../images/lastpagebt_hover.png) no-repeat;
}

.footer{
	width:980px;
	height:100px;
	margin:0 auto;
	background:#000;
	padding:10px;
	border-top:6px solid #009bff;
	}

.footer p{
	text-align:center;
	color:#009bff;
	font-family:Arial, Helvetica, sans-serif;
	}

p a.footerlinks{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#009bff;
	text-align:center;
	text-decoration:none;
	}

p a.footerlinks:hover{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#FFF;
	text-align:center;
	}

p.copyright{
	text-align:center;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	}

p.copyright a{
	text-align:center;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	font-size:11px;
	text-decoration:none;
	}

p.copyright a:hover{
	color:#FFF;
	}

p.read a{
	display:block;
	width:70px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#666;
	padding:3px;
	background:url(../images/bluebullet2.png) no-repeat;
	background-position:center left;
	background-color:#f1f1f1;
	border-radius:3px;
	text-indent:15px;
	text-decoration:none;
	margin: 0 0 15px 95px;
	}

p.read a:hover{
	display:block;
	width:70px;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11px;
	color:#cc0100;
	padding:3px;
	background:url(../images/redbullet2.png) no-repeat;
	background-position:center left;
	background-color:#f1f1f1;
	border-radius:3px;
	text-indent:15px;
	text-decoration:none;
	margin:0 0 15px 95px;
	}

.contactbox{
	width:201px;
	height:76px;
	margin:0 0 8px 11px;
	background:url(../images/phonepic.png) no-repeat;
	}

p.txthdcontact{
	display:block;
	width:201px;
	height:15px;
	margin:0;
	color:#FFF;
	text-align:center;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	padding:8px 0
	}

p.phonenum{
	display:block;
	width:201px;
	height:14px;
	margin:0;
	padding:0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#999;
	text-indent:40px;
	padding-top:4px
	}

p.phonenum span{
	font-size:12px;
	color:#090;
	text-indent:40px;
	padding-top:4px;
	font-weight:bold;
	}

a.mailbox{
	display:block;
	width:201px;
	height:24px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	color:#FFF;
	text-align:center;
	padding-top:6px;
	background:url(../images/mailboxbg.png) no-repeat;
	margin:0 0 8px 11px;
	}

a.mailbox:hover{
	text-decoration:underline;
	}

.apercufilm{
	width:554px;
	height:311px;
	margin:20px 0 10px 11px;
	}

.headpagesoft{
	width:552px;
	height:52px;
	margin:0 0 25px 11px;
	border:solid 1px #CCC;
	border-radius:6px;
	}

.headpagesoft img{
	float:left;
	}

p.header_winsoft ,p.header_macsoft{
	display:block;
	width:500px;
	height:30px;
	margin:0;
	font-size:18px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666;
	text-indent:30px;
	padding-top:15px;
	}

p.header_winsoft span{
	font-weight:bold;
	font-style:italic;
	color:#cc0000;
	}

.resultheadbox{
	width:552px;
	height:52px;
	border:solid 1px #CCC;
	border-radius:6px;
	margin:0 0 15px 10px;
	background:url(../images/loupe.jpg) no-repeat;
	background-position:center left;
	}

p.txtresult{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666;
	margin:10px 0 0 70px;
	padding:0;
	}

p.keywords{
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	color:#ff7c03;
	margin:5px 0 0 70px;
	padding:0;
	background:url(../images/orange_bullet2.png) no-repeat;
	background-position:center left;
	text-indent:25px;
	}

a.searchmatch{
	display:block;
	float:left;
	width:340px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	text-decoration:none;
	color:#cc0000;
	margin:0 0 5px 20px;
	padding:5px 0 0 10px;
	border-bottom:dotted 1px #CCC;
	}

a.searchmatch:hover{
	display:block;
	float:left;
	width:340px;
	height:20px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-style:italic;
	color:#666;
	background-color:#f0f0f0;
	margin:0 0 5px 20px;
	border-bottom:dotted 1px #CCC;
	}

.matchcategory{
	display:block;
	float:left;
	width:180px;
	height:18px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:italic;
	font-size:12px;
	text-decoration:none;
	color:#666;
	margin:0 0 5px 0px;
	padding-top:7px;
	border-bottom:dotted 1px #CCC;
	text-align:right;
	}