.header{
	width:1000px;
	margin:0 auto;
	}

.menubar{
	width:1000px;
	height:41px;
	margin:0 auto;
	background:url(../images/menubar_bg.png) repeat-x;
	}

.headerbg{
	width:1000px;
	height:59px;
	background:url(../images/header_bg.jpg) no-repeat;
	padding-top:40px;
	}


/* ---------------------------------------------------------------------------------------------*/
/* ------------------------------------ S T Y L E   M E N U ------------------------------------*/
/* ---------------------------------------------------------------------------------------------*/

#menu{
	height:41px;
	margin:0 0 0 400px;
	padding:0;
	border:0;
	position:absolute;
	top:0;
	z-index:10;
	}

#menu ul{
	margin:0;
	padding:0;
	}

#menu li{
	width:120px;
	float:left;
	display:block;
	list-style-type:none;
	margin:0;
	padding:0;
	}

#menu li a{
	height:41px;
	display:block;
	color:#FFF;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size:12px;
	text-transform:uppercase;
	text-decoration:none;
	text-align:center;
	width:120px;
	height:10px;
	padding:15px 0 14px 0;
	margin:0 0 2px 0;
	}

#menu li a:hover,  #menu li a.activepage{
	background:url(../images/menubg_hover.png) repeat-x;
	color:#008fff;
	}

.sousmenu li{
	float:none;
	list-style-type:none;
	margin:0;
	padding:0;
	}
	
#menu .sousmenu li a{
	background:url(../images/sousmenu_bg.png) repeat-x;
	text-align:left;
	text-indent:12px;
	height:10px;
	display:block;
	margin:0;
	padding:4px 0 8px 0;
	}

#menu .sousmenu li a:hover{
	background:url(../images/sousmenu_bg_hover.png) repeat-x;
	text-align:left;
	text-indent:12px;
	height:10px;
	display:block;
	margin:0;
	padding:4px 0 8px 0;
	}

#menu .sousmenu{
	display:none;
	}

#menu li:hover > .sousmenu{
	display: block;
	}

/* ---------------------------------------------------------------------------------------------*/
/* -------------------------------- F I N   S T Y L E   M E N U --------------------------------*/
/* ---------------------------------------------------------------------------------------------*/

.graphiclogo{
	background:url(../images/graphiclogo_bg.png) no-repeat;
	width:123px;
	height:177px;
	border:0;
	margin:0 0 0 50px;
	position:absolute;
	top:0;
	}

.graphiclogo a{
	display:block;
	margin:50px 0 0 10px;
	border:0;
	}

.txtlogo{
	float:left;
	background:url(../images/txt_logo.png) no-repeat;
	width:249px;
	height:33px;
	margin:0 0 0 175px;
	}

a.adminaccess{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	text-transform:uppercase;
	text-decoration:none;
	text-indent:25px;
	color:#00b2ff;
	float:right;
	width:150px;
	height:19px;
	background:url(../images/adminbt_bg.png) no-repeat;
	padding-top:6px;
	position:relative;
	top:33px;
	border-top:solid 1px #666;
	border-left:solid 1px #666;
	}

a.adminaccess:hover{
	display:block;
	font-family:Arial, Helvetica, sans-serif;
	font-size:9px;
	text-transform:uppercase;
	text-indent:25px;
	color:#FFF;
	float:right;
	width:150 px;
	height:19px;
	background:url(../images/adminbt_bg_hover.png) no-repeat;
	padding-top:6px;
	position:relative;
	top:33px;
	border-top:solid 1px #666;
	border-left:solid 1px #666;
	}

/* -------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------- Z O N E   D E   R E C H E R C H E -------------------------------------*/
/* -------------------------------------------------------------------------------------------------------------*/

.searchbar{
	width:535px;
	height:38px;
	background:url(../images/searchbar_bg.png) repeat-x;
	padding:12px 0 0 465px;
	}

.searchform1{
	width:280px;
	height:40px;
	float:left;
	}

.searchform1 p{
	margin:0;
	padding:0;
	display:block;
	float:left;
	}

.searchform1 p label{
	font-family:Arial, Helvetica, sans-serif;
	color:#09F;
	font-size:12px;
	}

.searchform2{
	width:200px;
	height:40px;
	float:left;
	}

.searchform2 select{
	display:block;
	height:22px;
	width:200px;
/*	margin-top:2px;*/
	border:solid 1px #abadb3;
	}

.searchform2 p{
	display:block;
	margin:0;
	padding:0;
	width:150px;
	height:23px;
	font-family:Arial, Helvetica, sans-serif;
	color:#09F;
	font-size:12px;
	}

.searchbt{
	display:block;
	float:left;
	background:url(../images/search_bt.png) no-repeat;
	width:31px;
	height:31px;
	border:none;
	margin:0 0 0 10px;
	position:relative;
	bottom:3px;
	}

.searchbt:hover{
	display:block;
	float:left;
	background:url(../images/search_bt_hover.png) no-repeat;
	width:31px;
	height:31px;
	border:none;
	margin:0 0 0 10px;
	position:relative;
	bottom:3px;
	}

/* ---------------------------------------------------------------------------------------------------------------------*/
/* ------------------------------------- F I N   Z O N E   D E   R E C H E R C H E -------------------------------------*/
/* ---------------------------------------------------------------------------------------------------------------------*/