html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
    background: #aaaaaa;
    color: #000000;
    font: 0.8em arial,sans-serif;
}

.login_form {
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}

#div-message {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;   
    min-height: 20px;
}