#simplemodal-container a.modalCloseImg {
	width:25px;
	height:29px;
	display:inline;
	z-index:3200;
	position:absolute;
	top:-15px;
	right:-18px;
	cursor:pointer;
}

#simplemodal-overlay {background-color:#000;}
#simplemodal-container {background-color:#ddddff; border:1px solid gray; padding:12px;}