@charset "utf-8";
/* CSS Document */

.slideshow {  
   width: 650px;  
   height: 150px;  
   overflow: hidden; 
}  
.slideshow ul {  
    /* 4 images donc 4 x 100% */  
   width: 400%;  
   height: 200px;  
   padding:0; margin:0;  
   list-style: none;  
}  
.slideshow li {  
   float: left;  
}

.recentmovies{
	background:url(../images/leftslider.jpg) no-repeat;
	width:350px;
	height:150px;
	float:left;
	padding:0;
	position:relative;
	bottom:2px;
	}
