html {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
}

article, aside, figure, footer, header, hgroup, nav, section { 
  display:block;
}

body { 
    background: url("../images/wallpapers/admin_bcg.jpg") no-repeat fixed center center #000000;
    color: #000000;
    font: 0.8em arial,sans-serif;
}

#site_content p {
    padding: 0 0 20px 0;
    line-height: 1.7em;
}

img { 
  border: 0;
}

h1, h2, h3, h4, h5, h6 { 
  color: #362C20;
  letter-spacing: 0em;
  padding: 0 0 5px 0;
}

h1, h2, h3 { 
  font: normal 140% 'Yanone Kaffeesatz', arial;
  margin: 0 0 15px 0;
  padding: 15px 0 5px 0;
  color: #000;
  /*text-shadow: 1px 1px 1px #fff;*/
}

h2 { 
  font-size: 160%;
  padding: 9px 0 5px 0;
  color: #0500C0;
}

h3 { 
  font-size: 140%;
  padding: 5px 0 0 0;
}

h4, h6 { 
  color: #10507E;
  padding: 0 0 5px 0;
  font: normal 110% arial;
  text-transform: uppercase;
}

h5, h6 { 
  color: #888;
  font: normal 95% arial;
  letter-spacing: normal;
  padding: 0 0 15px 0;
}

a {
    outline: none;
    text-decoration: none;
    color: #332EF8;
}

a:hover {
    outline: medium none;
    text-decoration: underline;
    color: #5A56FA;
}

ul { 
  margin: 2px 0 22px 17px;
}

ul li { 
  list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;
  line-height: 1.5em;
}

/*
ol { 
  margin: 8px 0 22px 20px;
}

ol li { 
  margin: 0 0 11px 0;
}
*/

.content_item_desc {
    margin-left: 120px;
}

.clear {
    clear: both;
}

/* Positionning for the images */
.left { 
  float: left;
  width: auto;
  margin-right: 10px;
}

.right { 
  float: right; 
  width: auto;
  margin-left: 10px;
}

.center { 
  display: block;
  text-align: center;
  margin: 20px auto;
}

#main, #logo, nav, #site_content, footer { 
  margin-left: auto; 
  margin-right: auto;
}

header { 
  background: url("../images/header.png") repeat-x scroll 0 0 transparent;
  height: 153px;

  /*background: #000000 url(../images/back.png) repeat-x;*/
  /*background: #000000 url(../images/back.png) repeat-x transparent;*/  
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
  height: 153px;
}

#logo { 
  width: 990px;
  position: relative;
  height: 95px;
  padding-top: 20px;
  background: transparent;
}

#logo #logo_text { 
  position: absolute; 
  top: 5px;
  left: 0;
}

#logo h1, #logo h2 { 
  font-size: 360%;
  border-bottom: 0;
  text-transform: none;
  margin: 0 0 0 15px;
  text-shadow: none;
}

#logo_text h1, #logo_text h1 a, #logo_text h1 a:hover { 
  padding: 5px 0 0 0;
  color: #FFF;
  text-decoration: none;
}

#logo_text h1 a .logo_colour { 
  color: #09D4FF;
}

#logo_text a:hover .logo_colour { 
  color: #FFF;
}

#logo_text h2 { 
  font-size: 125%;
  padding: 0 0 0 0;
  color: #FFFFFF;
}

nav { 
  width: 950px;
  height: 46px;
}

#site_content { 
  width: 1000px;
  overflow: hidden;
  margin: 20px auto 0 auto;
  padding: 0 0 10px 0;
  min-height: 650px;
} 

#sidebar_container { 
  float: right;
  width: 224px;
}

.sidebar { 
  float: right;
  width: 230px;
  margin: 0 0 17px 0;
  /*background: #D9D9D9;*/
  background: url("../images/content_opacity.png") repeat scroll 0 0 transparent;
  border: 1px solid #e5e5e5;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
}

.sidebar h3, .content h1 { 
  background: #AEACFF;
  padding: 10px 15px;
  font-size: 170%;
  /*border: 1px solid #000000;*/
  color: #FFFFFF;
    border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border: 7px 7px 0 0;
}

.sidebar h3, .content h1 { 
  padding: 5px 15px 10px 15px;
  color: #000000;
}

.sidebar li a.selected { 
  color: #444;
} 

.sidebar ul { 
  margin: -20px 0 0 0;
} 

.sidebar_item, .content_item { 
  padding: 15px 15px;
}

.content { 
  text-align: left;
  width: 740px;
  margin: 0 0 15px 0;
  /*background: #D9D9D9;fddf*/
  background: url("../images/content_opacity.png") repeat scroll 0 0 transparent;
  border-bottom: 1px solid #D4D4D4;
  border: 1px solid #e5e5e5;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;
  float: left;
}

.content ul { 
  margin: 2px 0 22px 0px;
}

.content ul li, .sidebar ul li { 
  list-style-type: none;
  background: url(../images/bullet.png) no-repeat;
  margin: 0 0 0 0; 
  padding: 0 0 4px 25px;
  line-height: 1.5em;
}

footer { 
  width: 100%;
  font-family: 'trebuchet ms', sans-serif;
  font-size: 90%;
  height: 30px;
  padding: 20px 0 5px 0;
  text-align: center; 
  border-top: 1px solid #000;
  /*background: #5A56FA;*/
  background: url("../images/footer.png") repeat scroll 0 0 transparent;*/
  color: #FFFFFF;
  margin: 0 0 0 0;
  text-transform: uppercase;
}

footer p { 
  line-height: 1.7em;
  padding: 0 0 10px 0;
}

footer a { 
  color: #A8AA94;
  text-decoration: none;
}

footer a:hover { 
  color: #FFF;
  text-decoration: none;
}

/* */

#search { 
  float: right;
}

.search { 
  border: 1px solid #5f870E;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
  float:left;
  margin:20px 0 0;
  padding:5px;
  vertical-align:middle;
  width:192px;
  color: #000000;
  background:#FFFFFF;
  margin: 20px 5px 0 0;
}

.combo-search {
  border: 1px solid #5f870E;
  border-radius: 7px 7px 7px 7px;
  -moz-border-radius: 7px 7px 7px 7px;
  -webkit-border: 7px 7px 7px 7px;  
  float:left;
  margin:20px 0 0;
  padding:5px;
  vertical-align:middle;
  width:192px;
  color: #000000;
  background:#FFFFFF;
}

/* Configuration of menu width */
html body ul.sf-menu ul, html body ul.sf-menu ul li {
  width: 180px;
}

html body ul.sf-menu ul ul {
  margin: 0 0 0 180px;
}

.thumbnail {
    border: 1px solid #000000;
    padding: 1px;
    opacity: 0.8;
    box-shadow: 3px 3px 3px #000000;
    /*margin-bottom: 15px;*/
}

.article_item {
    padding: 5px;
    display:  inline-block;
    width: 100%;
}

/* Framework for proper showing/hiding/positioning */
/* DO NOT EDIT FROM HERE */
ul.sf-menu, ul.sf-menu * {
  margin: 0;
  padding: 0;
  z-index: 1; /*Hack*/
}

ul.sf-menu {
  display: block;
  position: relative;
}

ul.sf-menu li {
  display: block;
  list-style: none;
  float: left;
  position: relative;
}

ul.sf-menu li:hover {
  visibility: inherit; /* fixes IE7 'sticky bug' */
}

ul.sf-menu a {
  display: block;
  position: relative;
}

ul.sf-menu ul {
  position: absolute;
  left: 0;
  width: 150px; 
  top: auto;
  left: -999999px;
}

ul.sf-menu ul a {
  zoom: 1; /* IE6/7 fix */
}

ul.sf-menu ul li {
  float: left; /* Must always be floated otherwise there will be a rogue 1px margin-bottom in IE6/7 */
  width: 150px;
}

ul.sf-menu ul ul {
  top: 0;
  margin: 0 0 0 150px
}

ul.sf-menu li:hover ul,ul.sf-menu li:focus ul,ul.sf-menu li.sf-hover ul,
ul.sf-menu ul li:hover ul,ul.sf-menu ul li:focus ul,ul.sf-menu ul li.sf-hover ul,
ul.sf-menu ul ul li:hover ul,ul.sf-menu ul ul li:focus ul,ul.sf-menu ul ul li.sf-hover ul,
ul.sf-menu ul ul ul li:hover ul,ul.sf-menu ul ul ul li:focus ul,ul.sf-menu ul ul ul li.sf-hover ul {
  left: auto;
}

ul.sf-menu li:hover ul ul,ul.sf-menu li:focus ul ul,ul.sf-menu li.sf-hover ul ul,
ul.sf-menu ul li:hover ul ul,ul.sf-menu ul li:focus ul ul,ul.sf-menu ul li.sf-hover ul ul,
ul.sf-menu ul ul li:hover ul ul,ul.sf-menu ul ul li:focus ul ul,ul.sf-menu ul ul li.sf-hover ul ul,
ul.sf-menu ul ul ul li:hover ul ul,ul.sf-menu ul ul ul li:focus ul ul,ul.sf-menu ul ul ul li.sf-hover ul ul {
  left: -999999px;
}

/* autoArrows CSS */
span.sf-arrow {
  width: 7px;
  height: 7px;
  position: absolute;
  top: 8px;
  right: 0;
  display: block;
  background: url(../images/images/arrows-black.png) no-repeat 0 0;
  overflow: hidden; /* making sure IE6 doesn't overflow and expand the box */
  font-size: 1px;
}

ul ul span.sf-arrow {
  right: 12px;
  top: 7px;
  background-position: 0 100%;
}

/* Theming the menu */
ul#nav {
  float: left;
}

ul#nav li.current a {
  color: #FFF;
}

ul#nav ul {
  /*background: #5f870E;*/
  background: #332EF8;
}

ul#nav li a {
  padding: 7px 20px;
  font-family: 'trebuchet ms',helvetica,arial,verdana,sans;
  text-decoration: none;
  color: #111;
  background: #332EF8;
  margin-right: 2px;
  border-radius: 7px 7px 0 0;
  -moz-border-radius: 7px 7px 0 0;
  -webkit-border: 7px 7px 0 0;}

ul#nav li a:hover, ul#nav li a:focus {
  color: #FFF;
}

ul#nav li ul li a {
  margin-right: 0;
  border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0 0;
  -webkit-border: 0 0 0 0;
}

span.sf-arrow {
  top: 15px;
  right: 5px;
  background-image: url(../images/arrows-white.png);
}

ul ul span.sf-arrow {
  right: 12px;
  top: 15px;
}

#div-message {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 95%;   
    min-height: 20px;
}

.wrap-pagination {
    /*background-color: #AAAAAA;*/
    border: 1px dashed #000000;
    font-family: "Courier New",Courier,monospace;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

.wrap-pagination a
{
	margin: 10px auto 0 auto;
	text-align: center;
	background-color: #0066FF;
	display: compact;
	padding: 5px 10px 6px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
	line-height: 2;
    display: inline;
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
	position: relative;
	cursor: pointer;
}

.wrap-pagination .inactive_anchor {
    background-color: #555555;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    font-weight: bold;
    line-height: 2;
    margin: 10px auto 0;
    padding: 5px 10px 6px;
    position: relative;
    text-align: center;
    text-decoration: none;
}