.tbl-data {
    border-collapse: separate;
    border-spacing: 0;
    
    margin: auto;
    margin-top: 20px;
    width: 95%;
    border: 1px solid #cbcbcb;
    background-color: #fafafa;
    
    -webkit-box-shadow: 0 1px 3px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 3px 1px rgba(0,0,0,.05);
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.tbl-data th {
    background: -webkit-linear-gradient(top, #e9eaec 0%,#d4d4d6 100%);
    background: -moz-linear-gradient(top, #e9eaec 0%,#d4d4d6 100%);
    
    font-size: 16px;
    line-height: 10px;
    padding: 10px 0;
    border-bottom: 2px solid rgba(0,0,0,.15);
    border-top: 1px solid rgba(255,255,255,.9);
    text-align: center;
    
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-shadow: 0 1px 1px #fff;
}

.tbl-data td {
    border-top: 2px solid #fefefe;
    border-bottom: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    padding: 13px 0;
    
    margin: 0;
    padding: 5px 0 5px 10px;
}

.tbl-data .col1 {
    width: 150px;
}

.tbl-data .col2 {
    
}

.tbl-data textarea {
    width: 95%;
    resize: none;
}

.tbl-data .input-txt {
    width: 95%;    
}

.tbl-data .input-date {
    width: 120px;
}

.tbl-data .select-cmb {
    width: 200px;
}