       		<div class="resultheadbox">
       			<p class="txtresult">Résultat de la recherche pour</p>
                <p class="keywords">"{keywords}"</p>
            </div>
            
            {var_softs}
            <p><a href="{base_url}softs/pc_details/fetch/{soft_ref}"  class="searchmatch">{soft_title}</a></p>
            <p class="matchcategory">{category_name}</p>
            {/var_softs}
           
            <div class="spacer"></div>
            
            
            <!---------------------------------- PAGINATION ---------------------------------->
            <div class="wrap-pagination">
                {var_pagination}
            </div>
            <!---------------------------------- FIN PAGINATION ---------------------------------->
          
          <div class="spacer"></div>  