            <div class="hdbox">
            	<p class="hdboxfilm">films</p>
                <div style="width:201px; height:4px; background-color:#009bff;"></div>
            </div>
            
            <div class="category">
                {var_movie_categories}
                <p><a href="{base_url}movies/movie_search/show/cat/{category_name}">{category_name}</a></p>
                {/var_movie_categories}
            </div>
            
            <div class="hdbox">
            	<p class="hdboxgames">jeux pc</p>
                <div style="width:201px; height:4px; background-color:#ff7e00;"></div>
            </div>
            
            <div class="category">
                {var_game_categories}
                <p><a href="{base_url}games/pc_search/show/cat/{category_name}">{category_name}</a></p>
                {/var_game_categories}
            </div>