            <div class="contactbox">
                <p class="txthdcontact">Contactez-nous !</p>
                <p class="phonenum">+261 20 (0) <span>33 12 935 40</span></p>
                <p class="phonenum">+261 20 (0) <span>34 85 394 89</span></p>
            </div>
            <div><a class="mailbox" href="mailto:inform_actuel@yahoo.fr;informactuel01@gmail.com">Ecrivez-nous !</a></div>
        	<div class="hdbox">
            	<p class="hdboxnews">news</p>
                <div style="width:201px; height:4px; background-color:#d30100;"></div>
                <div class="newsbox">
                	<p class="newstitle"><a href="#">Usaperum is nis minum laut esequatus</a></p>
                    <p class="newsdate">30 Février 2013</p>
                    <p class="newshortdetail">Cea doluptaquo dolor re pro temquaspere inihiciandit moloreri rere, corrorum ipsantinim faccuscid quae con eturisto corernam faceaquas undent ea doluptatumet ipitati busant aut etur mint plandit atetur ma dolut vellupta pe nonsequi si ra ium re qui dellaccaeria volupti doluptatem quam atur, con rersperunt re omniminvenis doluptios et ut apis et occabore volupti seque etur?</p>
                    <p class="read"><a href="#">Lire l'article</a></p>
                    
                    <p class="newstitle"><a href="#">Cea doluptaquo dolor re</a></p>
                    <p class="newsdate">30 Février 2013</p>
                    <p class="newshortdetail">Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est. Sed lectus. Praesent elementum hendrerit tortor.</p>
                    <p class="read"><a href="#">Lire l'article</a></p>
                    
                    <p class="newstitle"><a href="#">Sed egestas, ante et vulputate</a></p>
                    <p class="newsdate">30 Février 2013</p>
                    <p class="newshortdetail">Morbi interdum mollis sapien. Sed ac risus. Phasellus lacinia, magna a ullamcorper laoreet, lectus arcu pulvinar risus, vitae facilisis libero dolor a purus.</p>
                    <p class="read"><a href="#">Lire l'article</a></p>
                    
                </div>
            </div>
            
            <div class="spacer"></div>